<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-block google" (click)="googleSignInViaPopup()">
                      <i class="fab fa-google mr-2"></i>Google Login With Popup
                    </button>

                    <button class="btn btn-primary btn-block facebook" (click)="facebookSignInViaPopup()">
                        <i class="fab fa-facebook mr-2"></i>Facebook Login With Popup
                    </button>

                    <button class="btn btn-primary btn-block twitter">
                        <i class="fab fa-twitter mr-2"></i>Twitter Login With Popup
                    </button>

                    <button class="btn btn-primary btn-block github">
                        <i class="fab fa-github mr-2"></i>Github Login With Popup
                    </button>

                </div>
                <div class="col-lg-6">

                    <button class="btn btn-primary btn-block google" (click)="googleSignInViaRedirect()">
                        <i class="fab fa-google mr-2"></i>Google Login With Redirect
                    </button>

                    <button class="btn btn-primary btn-block facebook">
                        <i class="fab fa-facebook mr-2"></i>Facebook Login With Redirect
                    </button>

                    <button class="btn btn-primary btn-block twitter">
                        <i class="fab fa-twitter mr-2"></i>Twitter Login With Redirect
                    </button>

                    <button class="btn btn-primary btn-block github">
                        <i class="fab fa-github mr-2"></i>Github Login With Redirect
                    </button>

                </div>
            </div>
            <hr>
            <div class="row">
                <button class="btn btn-primary btn-block email">
                    <i class="far fa-envelope mr-2"></i>Loging with Email/Password
                </button>
                <button class="btn btn-primary btn-block phone">
                    <i class="fas fa-phone mr-2"></i>Loging with Phone
                </button>
                <button class="btn btn-primary btn-block anonymous">
                    <i class="fas fa-user-secret mr-2"></i>Loging with Anonymous
                </button>
            </div>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-block">Sign up</button>
            </form>
        </div>
    </div>
</div>